@page "/novapessoa"

<PageTitle>Realizar cadastro</PageTitle>

    <div class="col-6">
        <PessoaForm ModoEdicao="false" OnValidaPessoaSubmit="AdicionarPessoa" />
    </div>

@code {
    private async Task AdicionarPessoa(Pessoa pessoa)
    {
        await pessoaRepository.AdicionarPessoa(pessoa);
        navigation.NavigateTo("/");
    }
}