<div class="col-md-3 mb-3">
    <div class="card custom-card">
        <div class="card-body">
            <p class="card-title">@pessoa.IdPessoa</p>
            <p class="card-title">@pessoa.Nome</p>
            <p class="card-text">@pessoa.SobreNome</p>
            <p class="cart-text">@pessoa.Email</p>
            <div class="d-flex justify-content-between align-items-center mt-2">
                <a href='/editalivro/@pessoa.IdPessoa' class="btn btn-primary">Editar</a>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public required Pessoa pessoa { get; set; }
}