<div class="col-md-3 mb-3">
    <div class="card custom-card">
        <div class="card-body">
            <p class="card-title">@pessoa.IdPessoa</p>
            <p class="card-title">@pessoa.Nome</p>
            <p class="card-text">@pessoa.SobreNome</p>
            <p class="cart-text">@pessoa.Email</p>
            <div class="d-flex justify-content-between align-items-center mt-2">
                <a href='/editapessoa/@pessoa.IdPessoa' class="btn btn-primary">Editar</a>
                <button @onclick="ConfirmaDialogo" class="btn btn-danger">Remover</button>
            </div>
        </div>
    </div>
</div>

<DialogoComponent Exibir="exibirDialogo" 
                  OnCancel="CancelaExclusao"
                  OnDelete="ConfirmaExclusao">
   <h3 style="color:red;font-weight:bold">Confirma remoção dessa pessoa : Id=@pessoa.IdPessoa ?</h3>
</DialogoComponent>

@code {
    [Parameter]
    public required Pessoa pessoa { get; set; }
    private bool exibirDialogo;

    private void ConfirmaDialogo()
    {
        exibirDialogo = true;
    }

    private void CancelaExclusao()
    {
        exibirDialogo = false;
    }

    private async Task ConfirmaExclusao()
    {
        await pessoaRepository.DeletarPessoa(pessoa.IdPessoa);
        exibirDialogo = false;
        navigation.NavigateTo("/pessoas");
    }
}