@page "/pessoas"

<h3>Pessoas</h3>
<br />

@if (pessoas is null)
{
   <p>Sem pessoas cadastradas</p>
}
else
{
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
            <th scope="col" class="text-center">Nome</th>
            <th scope="col" class="text-center">Sobrenome</th>
            <th scope="col" class="text-center">Email</th>
            <th scope="col" class="text-center">Telefone</th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pessoa in pessoas)
            {
                <PessoasTable @rendermode="InteractiveServer" Pessoa="@pessoa" />
            }
        </tbody>
    </table>
}

@code {
    IEnumerable<Pessoa>? pessoas;
    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(800);
        pessoas = await pessoaRepository.ObterPessoas();
    }
} 