<tr>
      <td class="text-center align-middle">
            @pessoa.Nome
      </td>
      <td class="text-center align-middle">
            @pessoa.SobreNome
      </td>
      <td class="text-center align-middle">
             @pessoa.Email
      </td>
      <td>
        <div class="d-flex justify-content-around col-6 align-items-center mt-1">
            <a href='/editapessoa/@pessoa.IdPessoa' class="btn btn-primary">Editar</a>
            <button @onclick="ConfirmaDialogo" class="btn btn-danger">Remover</button>
        </div>
      </td>
</tr>

<DialogoComponent Exibir="exibirDialogo" 
                  OnCancel="CancelaExclusao"
                  OnDelete="ConfirmaExclusao">
   <h3 style="color:red;font-weight:bold">Confirma remoção dessa pessoa : Id=@pessoa.IdPessoa ?</h3>
</DialogoComponent>

@code {
    [Parameter]
    public required Pessoa pessoa { get; set; }
    private bool exibirDialogo;

    private void ConfirmaDialogo()
    {
        exibirDialogo = true;
    }

    private void CancelaExclusao()
    {
        exibirDialogo = false;
    }

    private async Task ConfirmaExclusao()
    {
        await pessoaRepository.DeletarPessoa(pessoa.IdPessoa);
        exibirDialogo = false;
        navigation.NavigateTo("/pessoas");
    }
}