@page "/veiculos"

<h4>Veiculos cadastrados</h4>
<br />

<AuthorizeView>
    <Authorized>
        @if (QtdVagas > 0)
        {
            <a class="btn btn-primary" href="/novoveiculo">Cadastrar Novo Veiculo</a>
            <br />
            
            <h4>Vagas restantes: @QtdVagas</h4>
            <br />
        }
        else
        {
            <h4 class="text-danger">Todas as vagas ocupadas !</h4>
            <br />
        }
    </Authorized>
</AuthorizeView>

@if (veiculos is null)
{
   <p>Sem veiculos cadastrados</p>
}
else
{
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
            <th scope="col" class="text-center">Marca</th>
            <th scope="col" class="text-center">Modelo</th>
            <th scope="col" class="text-center">Cor</th>
            <th scope="col" class="text-center">Placa</th>
            <th scope="col" class="text-center">Dono do veiculo</th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var veiculo in veiculos)
            {
                <VeiculosTable @rendermode="InteractiveServer" Veiculo="@veiculo" />
            }
        </tbody>
    </table>
}

@code {
    IEnumerable<VeiculosResponse>? veiculos;

    private int QtdVagas;

    private bool exibirDialogoQtdVeiculos;

    protected override async Task OnInitializedAsync()
    {
        veiculos = await veiculoRepository.ObterVeiculos();
        QtdVagas = QuantidadeVagas();
    }

    private int QuantidadeVagas()
    {
        return (3 - @veiculos!.Count());
    }
} 