@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase
@inject IAuthenticationRepository AuthenticationRepository

<div class="page">
    <div class="sidebar bg-dark">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <div style="position: absolute; left: 0; margin-left: 5px; margin-top: 3px;">
                <h4>Estacionamento EMEF Jardim Paulo VI</h4>
            </div>
            <AuthorizeView>
                <Authorized>
                    @if (!string.IsNullOrEmpty(userName))
                    {
                        <span><b>Olá, @userName !</b></span>
                    }
                </Authorized>
            </AuthorizeView>
            <AuthorizeView>
                <NotAuthorized>
                    <a href="/">Login</a>
                </NotAuthorized>
                <Authorized>
                    <a href="/logout">Sair</a>
                </Authorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>


@code {
    private string? userName;

    protected override async Task OnParametersSetAsync()
    {
        var isUserLogged = await authenticationRepository.IsUserAuthenticated();

        if (isUserLogged)
        {
            userName = await AuthenticationRepository.GetAuthenticatedSurname();
        }
    }
}